*.pyc
*.log
node_modules
coverage/
coral_public/logs
coral_public/export_deliverables
coral_public/cantaloupe/*
coral_public/staticfiles
coral_public/media/packages
coral_public/media/build/
coral_public/uploadedfiles/*
coral_public/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
