functions/
#datatypes/
media/js/views/components/functions/
media/js/views/components/widgets/
templates/views/components/functions/
templates/views/components/widgets/
system_settings/
widgets/
#reports/
